@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --clr-main: #212529;
    --clr-main-light: #666666;
    --clr-white: #ececec;
    --clr-gray: #e2e2e2;
    --clr-red: #961818;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/* NAV */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    color: var(--clr-main);
    background-color: var(--clr-white);
}

.nav-menu {
    display: flex;
    gap: 2rem;
    color: var(--clr-main);
    margin-right: 40px;
}

/* MAIN */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
    padding-top: 2rem;
}

aside {
    padding: 2rem;
    padding-right: 0;
    color: var(--clr-white);
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.logo {
    font-weight: 400;
    font-size: 1.3rem;
    margin-left: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--clr-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .95rem;
    width: 100%;
}

.boton-menu.active {
    background-color: var(--clr-white);
    color: var(--clr-main);
    width: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--clr-white);
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    border-top-right-radius: .5rem;
    box-shadow: 0 - 1rem 0 var(--clr-white);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}
.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: .85rem;
}

main {
    background-color: var(--clr-white) ;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;

    border-radius: 1rem;
}

.producto-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .25rem;
    text-transform: uppercase;
    border-radius: 1rem;
    border: solid 2px var(--clr-white);
    transition: background-color .2s, color .2sg;
}

.producto-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}


/* CARRITO */

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado { 
    color: var(--clr-main);
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-gray);
    color: var(--clr-main);
    padding: .5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase; 
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.disabled {
    display: none;
}

/* MI CUENTA */

.main-micuenta {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.iniciar-sesion {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.contenedor-crearCuenta {
    margin-bottom: 5rem;
    margin-top: 2rem;
    text-align: center;
}

.boton-iniciar-sesion {
    border: 0;
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .55rem;
    margin-top: .7rem;
    text-transform: uppercase;
    border-radius: 1rem;
    border: solid 2px var(--clr-white);
    transition: background-color .2s, color .2sg;
}

.boton-iniciar-sesion:hover {
    background-color: var(--clr-white);
    color: var(--clr-main);
    border: solid 2px var(--clr-main);
}

.contenedor-correo,
.contenedor-contraseña {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem
}

.form-input {
    padding: .7rem;
    margin: .7rem;
    margin-left: 0;
    background-color: var(--clr-main-light);
    color: var(--clr-white);
}

.olvide-contraseña {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
}

.olvide-contraseña a {
    margin-bottom: 2rem;
}